In [3]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
df=pd.DataFrame({'x1':[10,14,18,25,28,34,40]})
scaler=preprocessing.MinMaxScaler()
scaled_df=scaler.fit_transform(df)
scaled_df2=pd.DataFrame(scaled_df,columns=['x1'])
scaled_df2

         x1
0  0.000000
1  0.133333
2  0.266667
3  0.500000
4  0.600000
5  0.800000
6  1.000000

In [5]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
df=pd.DataFrame({'x1':[10,14,18,25,28,34,40]})
scaler=preprocessing.StandardScaler()
scaled_df=scaler.fit_transform(df)
scaled_df2=pd.DataFrame(scaled_df,columns=['x1'])
scaled_df2

         x1
0 -1.409404
1 -1.010785
2 -0.612166
3  0.085418
4  0.384383
5  0.982312
6  1.580241

In [7]:
df2=pd.DataFrame({'deg':['ssc','inter','batch','mtech','mtech','inter']})
df2

     deg
0    ssc
1  inter
2  batch
3  mtech
4  mtech
5  inter

In [8]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df2['deg1']=label_encoder.fit_transform(df2['deg'])
df2

     deg  deg1
0    ssc     3
1  inter     1
2  batch     0
3  mtech     2
4  mtech     2
5  inter     1